# Supabase Configuration
VITE_SUPABASE_URL=https://burodhdodmgtvwxpekaw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1cm9kaGRvZG1ndHZ3eHBla2F3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzMTI4NDQsImV4cCI6MjA3Mzg4ODg0NH0.mDWXBtqW0Cctx96tYNO5iSt8pdh1IJCnc-5CwCTh3Po


# Example:
# VITE_SUPABASE_URL=https://xyzcompany.supabase.co
# VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...